# Dependencies
node_modules/

# Builds
dist/
.next/
out/
coverage/

# Environment
.env
.env.local
.env.*.local

# Prisma
packages/db/prisma/*.db

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
